<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hantele.demo.dao.BookindMapper">
  <resultMap id="BaseResultMap" type="com.hantele.demo.entity.Bookind">
    <constructor>
      <idArg column="bookList_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="listName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="count" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    bookList_ID, listName, count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bookind
    where bookList_ID = #{booklistId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bookind
    where bookList_ID = #{booklistId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hantele.demo.entity.Bookind">
    insert into bookind (bookList_ID, listName, count
      )
    values (#{booklistId,jdbcType=INTEGER}, #{listname,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hantele.demo.entity.Bookind">
    insert into bookind
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="booklistId != null">
        bookList_ID,
      </if>
      <if test="listname != null">
        listName,
      </if>
      <if test="count != null">
        count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="booklistId != null">
        #{booklistId,jdbcType=INTEGER},
      </if>
      <if test="listname != null">
        #{listname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hantele.demo.entity.Bookind">
    update bookind
    <set>
      <if test="listname != null">
        listName = #{listname,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
    </set>
    where bookList_ID = #{booklistId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hantele.demo.entity.Bookind">
    update bookind
    set listName = #{listname,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER}
    where bookList_ID = #{booklistId,jdbcType=INTEGER}
  </update>
</mapper>