<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hantele.demo.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.hantele.demo.entity.Permission">
    <constructor>
      <idArg column="aut_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="user_ID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="autname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="autgrade" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    aut_ID, user_ID, autname, autgrade
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where aut_ID = #{autId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where aut_ID = #{autId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hantele.demo.entity.Permission">
    insert into permission (aut_ID, user_ID, autname, 
      autgrade)
    values (#{autId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{autname,jdbcType=VARCHAR}, 
      #{autgrade,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hantele.demo.entity.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="autId != null">
        aut_ID,
      </if>
      <if test="userId != null">
        user_ID,
      </if>
      <if test="autname != null">
        autname,
      </if>
      <if test="autgrade != null">
        autgrade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="autId != null">
        #{autId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="autname != null">
        #{autname,jdbcType=VARCHAR},
      </if>
      <if test="autgrade != null">
        #{autgrade,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hantele.demo.entity.Permission">
    update permission
    <set>
      <if test="userId != null">
        user_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="autname != null">
        autname = #{autname,jdbcType=VARCHAR},
      </if>
      <if test="autgrade != null">
        autgrade = #{autgrade,jdbcType=INTEGER},
      </if>
    </set>
    where aut_ID = #{autId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hantele.demo.entity.Permission">
    update permission
    set user_ID = #{userId,jdbcType=INTEGER},
      autname = #{autname,jdbcType=VARCHAR},
      autgrade = #{autgrade,jdbcType=INTEGER}
    where aut_ID = #{autId,jdbcType=INTEGER}
  </update>
</mapper>